


#roomname::before{
    content: "Room Name";
}


#intro{
    position: absolute;
    margin: auto;
    display: flex;
    place-items:center;
    top:0;left:0;
    width: 100%;
    height: 100%;
    background: #000;
    color:#fff;
  display: none; /*   when testing*/
}


.inner{
    margin:auto;
    max-width:600px;
}

#karaoke-container{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    min-height: 100%;
    background:darkgreen;
    display: flex;
    place-items:center;
    flex-wrap: wrap;
}

.karaoke-machine{
    
    position: relative;
    margin: auto;
    box-sizing: border-box;
    height:600px;
    width:100%;
}

.karaoke-cover{
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    
    background-size: contain;
    background-image: url(tv.png);
    width:750px;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    z-index:3;
    pointer-events: none;
}

.karaoke-screen{
    position: absolute;
    top:0;
    left:0;
    margin: auto;
    height:600px;
    width:100%;
    text-align: center;
    overflow:hidden;
    z-index:1;
    
}

.karaoke-screen video{
    width:700px;
    height:550px;
}



.karaoke-play{
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    width:750px;
    height:440px;
    background-image: url(camera-static.gif);
    z-index:2;
}



.karaoke-play-button{
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(60%,-45%);
    height:100px;
    width:100px;
    z-index:5;
    display: none;
    opacity:0.3;
}

.karaoke-play-button iframe{
    height:50px;
    width:50px;
}