
  @import url("https://use.typekit.net/hzd6gvv.css");


body{
    background:darkgreen;    
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.2em;
    line-height:1.4em;
}



h1{
    font-family: abolition, sans-serif;
}


#roomname::before{
    content: "Room Name";
}


#intro{
    position: absolute;
    margin: auto;
    display: flex;
    place-items:center;
    top:0;left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
    color:#fff;
    z-index:9999;
    text-align: center;
}

#intro h1{
    font-size:3em;
    max-width: 80%;
    text-align: center;
    margin: auto;
    line-height: 1em;
}

#intro input[type=text]{
    padding:.3em;
    width:250px;
    height:30px;
    font-size:1em;
}


#intro input[type=button]{
    display: inline-block;
    padding:.5em;
    width:70px;
    height:45px;
    font-size:1em;
}


#intro input[type=button]:hover{
    color:#000;
    background:darkgreen;
}

h3{
    padding-top:1.5em;
    padding-bottom:.25em;
    margin:0;
}

#name-room{
    text-transform: uppercase;
}



.inner{
    margin:auto;
    max-width:600px;
}


#info{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index:999999;
}

#info div{
    display: inline-block;
}

#karaoke-container{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    place-items:center;
    flex-wrap: wrap;
}

.karaoke-machine{
    
    position: relative;
    margin: auto;
    box-sizing: border-box;
    height:600px;
    width:100%;
}

.karaoke-search{
    position: absolute;
    
  top: 20%; right: 50%;
  transform: translate(50%,-5%);
    
    height:100px;
    width:500px;
    z-index:9;
    text-align: center;
}

.karaoke-search input[type=text]{
    width:400px;
    height:40px;
    font-size:.9em;
    text-align: center;
    padding:.2em;
    border-radius:15px;
}


.karaoke-search input[type=button]{
    padding:1em;
    font-size:.9em;
    width:100px;
    height:30px;
    line-height: 0;
    border-radius:15px;
    margin:.5em;
}

.karaoke-search input[type=button]:hover{
    background:#000;
    color:darkgreen;
}



.karaoke-cover{
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    
    background-size: contain;
    background-image: url(tv.png);
    width:750px;
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    z-index:3;
    pointer-events: none;
}

.karaoke-screen{
    position: absolute;
    top:0;
    left:0;
    margin: auto;
    height:600px;
    width:100%;
    text-align: center;
    overflow:hidden;
    z-index:1;
    
}

.karaoke-screen video{
    width:700px;
    height:550px;
}



.karaoke-play{
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    width:750px;
    height:440px;
    background-image: url(camera-static.gif);
    z-index:2;
}


.karaoke-play-button{
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(60%,-45%);
    height:100px;
    width:100px;
    z-index:5;
    display: none;
    opacity:0.3;
}

.karaoke-play-button iframe{
    height:50px;
    width:50px;
}


#karaoke-machine-pic{
    position: fixed;
  bottom: -100px; left: 50%;
  transform: translateX(-50%);
    height:600px;
    width:800px;
    text-align: center;
    overflow:hidden;
    z-index:-9;
    background-image:url(machine.png);'
    background-position: center top;

}



#karaoke-score{
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    margin: auto;
    height:450px;
    width:700px;
    text-align: center;
    overflow:hidden;
    z-index:3;
    color:#fff;
    background: #000;
    display: none;
}



#karaoke-score h1{
    margin-top:150px;
    font-size:7em;
    line-height:60px;
}

#karaoke-score h3{
    font-size:2em;
}



#player{
    position: fixed;
    opacity:0;
    pointer-events: none;
    z-index:9999;
}

